/* GLOBAL */
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/fonts.scss";
@import "./global/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-header-link.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/button.scss";
@import "./blocks/program.scss";
@import "./blocks/details.scss";
@import "./blocks/slider.scss";
@import "./blocks/stats-list.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/page-container.scss";
@import "./blocks/title-inner.scss";
@import "./blocks/form.scss";
@import "./blocks/checkbox-field.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/catalog-container.scss";
@import "./blocks/product-catalog.scss";
@import "./blocks/extra-products.scss";
@import "./blocks/other-product.scss";
@import "./blocks/gift.scss";
