.contacts__offer {
  color: #111111;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; 
  text-transform: uppercase;
}

.contacts__address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
}

.contacts__offer {
  width: 140px;
  @media(min-width: $tablet-width) {
    width: 163px;
  }
}

.contacts__address {
  width: 140px;
  @media(min-width: $tablet-width) {
    width: 157px;
  }
}