.details__title {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.details__item {
  display: grid;
  gap: 20px;
  grid-template-columns: 60px 1fr;
}

.details__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $bg-basic-green;
  background-position: center;
  background-repeat: no-repeat;

}

.details__item--sheet::before {
  background-image: url("../../images/icons/stack.svg#leaf");
  background-size: 30px 32px;
}

.details__item--powder::before {
  background-image: url("../../images/icons/stack.svg#powder");
  background-size: 26px 29px;
}

.details__item--cutlery::before {
  background-image: url("../../images/icons/stack.svg#eat");
  background-size: 25px 30px;
}

.details__item--clock::before {
  background-image: url("../../images/icons/stack.svg#clock");
  background-size: 26px 31px;
}

.details__list {
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
  padding: 0;
  margin-bottom: 49px;
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 246px);
    row-gap: 37px;
    column-gap: 138px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 80px;
  }
}