.footer-contacts {
  position: relative;
}

.footer-contacts__offer {
  color: #111111;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; 
  text-transform: uppercase;
  width: 140px;
  @media(min-width: $tablet-width) {
    width: 163px;
    font-size: 20px;
    line-height: 26px; 
  }
}

.footer-contacts__wrapper {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
  @media(min-width: $tablet-width) {
    justify-content: space-between;
    padding: 61px 40px;
  }
  @media(min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    background-color: #ffffff;
    padding: 60px 80px;
    top: 95px;
    left: calc(50% - 660px);
  }
}

.footer-contacts__address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 140px;
  @media(min-width: $tablet-width) {
    width: 157px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footer-contacts__text {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts__map {
  margin: 0 auto;
  background-image: image-set(url("../../images/location-mobile@1x.png")type("image/png") 1x, url("../../images/location-mobile@2x.png")type("image/png") 2x);
  min-height: 362px;
  background-repeat: no-repeat;
  background-position: center;
  
  @media(min-width: $tablet-width) {
    min-height: 400px;
    background-image: image-set(url("../../images/location-tablet@1x.png")type("image/png") 1x, url("../../images/location-tablet@2x.png")type("image/png") 2x);
  }
  @media(min-width: $desktop-width) {
    background-image: image-set(url("../../images/location-desk@1x.png")type("image/png") 1x, url("../../images/location-desk@2x.png")type("image/png") 2x);
  }
}

.footer-contacts__map::before {
  content: "";
  width: 57px;
  height: 53px;
  background-image: url("../../images/icons/map_pin_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 35%;
  @media(min-width: $tablet-width) {
    width: 113px;
    height: 106px;
    background-image: url("../../images/icons/map_pin_tablet.png");
  }
}

.footer-contacts__iframe {
  width: 100%;
  border: none;
  display: block;
  @media(min-width: $tablet-width) {
    min-height: 400px;
}
}

