.footer-social__logo {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.footer-social {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
  @media(min-width: $tablet-width) {
    display: flex;
    
  }
}

.footer-social__container {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;

}

.footer-social__list {
  margin-top: 19px;
  margin-bottom: 19px;
}