.form__label {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-style: normal;
  line-height: 18px; 
  text-transform: uppercase;
  margin-bottom: 14px;
}

.form__control {
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px; 
  text-transform: uppercase;
  padding: 14px 49px 13px 15px;
}

.form__control--email {
  background-image: url("../../images/icons/stack.svg#email");
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 20px 20px;
}

.form__control--phone {
  background-image: url("../../images/icons/stack.svg#phone");
  background-repeat: no-repeat;
  background-position: center right 13px;
  background-size: 20px 20px;
}

.form__legend {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.form__under-star {
  color: #000000;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  @media(min-width: $desktop-width) {
    display: flex;
  }
}

.form__fieldset-contacts {
  @media(min-width: $desktop-width) {
    flex-direction: row;
  }
}

.form__list-extra {
  display: grid;
  row-gap: 12px;
  grid-column: 174px;
  
  @media(min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  } 
  @media(min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr); 
  }
}

.form__button-wrapper {
  @media(min-width: $tablet-width) {
    display: flex;
  } 
}