.main-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  width: 280px;
  padding-top: 13px;
  padding-bottom: 14px;
   @media (min-width: $tablet-width) {
    min-height: 50px;
    
  }
  @media (min-width: $desktop-width) {
    min-height: 59px;
    
  }  
}

.main-header__toggle {
  display: block;
  width: 24px;
  height: 24px;
  @media (min-width: $tablet-width) {
    display: none;
  } 
}


