
.main-nav {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 280px;
  align-items: center;
 
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__wrapper {
  display: none;
}