.main-nav {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  left: 0;
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    position: static;
    width: 436px;
  }
  @media (min-width: $desktop-width) {
    background-color: inherit;
    width: 475px;
  }
}