
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 280px;
  align-items: center;
  margin: 0;
 
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

