.other-product__text {
  color: #222222;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px; 
  text-transform: uppercase;
}

.other-product__wrapper {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.other-product {
  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 400px 225px;
    grid-template-rows: auto;   
  }
  @media(min-width: $desktop-width) {
    width: 895px;
  }
}

.other-product__link {
  grid-column: 2 span;
}