.other-product__text {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px; 
  text-transform: uppercase;
}

.other-product__wrapper {
  font-size: 14px;
  line-height: 14px;
}