.page-container__title {
  margin-top: 27px;
  margin-bottom: 37px;
  @media(min-width: $tablet-width) {
    margin-top: 65px;
    margin-bottom: 54px;
  }
}

.page-container__subtitle {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 18px; 
  text-transform: uppercase;
  margin-bottom: 39px;
  width: 226px;
  @media(min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px; 
    width: 323px;
    margin-bottom: 66px;
  }
}

.page-container-wrapper {
  @media(min-width: $tablet-width) {
    padding: 0 70px;
}
}