.page-container__title {
  margin-top: 27px;
  margin-bottom: 37px;
}

.page-container__subtitle {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 14px;
  line-height: 18px; 
  text-transform: uppercase;
  margin-bottom: 39px;
  width: 226px;
}