.product-catalog__list {
  display: grid;
  grid-template-columns: 280px;
  justify-items: center;
  @media(min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media(min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  
  }
}