.program__title {
  margin: 0;
  font-family: $font-family-secondary;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400; 
  padding-left: 70px;
  margin-bottom: 29px;
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;  
    padding-left: 0;
  }
  @media (min-width: $desktop-width) {
    padding-left: 181px;
    margin-bottom: 73px;
  }
}

.program__box {
  width: 100%;
  background-color: $bg-basic-grey;
  padding: 24px 20px 18px 20px;
  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 52px;
  }
  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 61px 55px 52px;
  }
}

.program__box--slim {
  background-image: url("../../images/icons/stack.svg#cat_sit_mobile");
  background-repeat: no-repeat;
  background-size: 53px 50px;
  background-position: left 20px top 18px;
  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position: right 63px top 91px;
  }
    @media (min-width: $desktop-width) {
      background-size: 100px 106px;
      background-position: left 52px top 41px;
    }
  }


.program__box--pro {
  background-image: url("../../images/icons/stack.svg#cat_go_mobile");
  background-repeat: no-repeat;
  background-size: 50px 67px;
  background-position: left 20px top 11px;
  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position: right 29px top 91px;
  }
  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position: left 33px top 47px
  }
}

.program__description {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
    width: 340px;
    color: #000000;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    width: 457px;
}
}
 
.program__description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color:#D9D9D9;
  margin-top: 23px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.program__link {
  width: 134px;
  color: #000000;
  font-family: $font-family-secondary;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase; 
  padding-right: 47px;
  background-image: url("../../images/icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  background-position: right;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 165px;
    padding-right: 57px;
  }
}

.program__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-bottom: 45px;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 71px;
  }
}


