.program__title {
  margin: 0;
  font-family: $font-family-secondary;
  font-size: 24px;
  line-height: 37px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400; 
  padding-left: 70px;
}

.program__box--slim {
  background-image: url("../../images/icons/stack.svg#cat_sit_mobile");
  background-repeat: no-repeat;
  background-size: 53px 50px;
  background-position: left 20px top 18px;
}

.program__box--pro {
  background-image: url("../../images/icons/stack.svg#cat_go_mobile");
  background-repeat: no-repeat;
  background-size: 50px 67px;
  background-position: left 20px top 11px;
}

.program__description {
  font-size: 14px;
  line-height: 18px;
}

.program__description::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color:#D9D9D9;
  margin-top: 23px;

}

.program__link {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase; 
  padding-right: 39px;
  background-image: url("../../images/icons/stack.svg#arrow");
  background-repeat: no-repeat;
  background-size: 24px 12px;
  background-position: right;
}

.program__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (min-width: $tablet-width) {
    gap: 30px;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.program__box {
  width: 100%;
  background-color: $bg-basic-grey;
  padding: 24px 20px 18px 20px;
}

.program__title {
  margin-bottom: 29px;
}

.program__description {
  margin-bottom: 38px;
}