.site-list__link {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  @media(min-width: $desktop-width) {
    color: #ffffff;
  }
}