.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}



.social-list__link {
  display: block;
  height: 22px;
  width: 28px;
  
}

.social-list__link--vk {
  background-color: #666666;
  mask-image: url("../../images/icons/stack.svg#vk");
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-list__link--vk:hover {
  background-color: #68B738;
}

.social-list__link--vk:active {
  opacity: 0.3;
}

.social-list__link--youtube {
  background-color: #666666;
  mask-image: url("../../images/icons/stack.svg#youtube");
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-list__link--youtube:hover {
  background-color: #68B738;
}

.social-list__link--youtube:active {
  opacity: 0.3;
}

.social-list__link--telegram {
  background-color: #666666;
  mask-image: url("../../images/icons/stack.svg#telegram");
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-list__link--telegram:hover {
  background-color: #68B738;
}

.social-list__link--telegram:active {
  opacity: 0.3;
}

