.stats-list__number {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.stats-list__description {
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  top: 47px
}

.stats-list__price {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; 
  text-transform: uppercase;
}

.stats-list {
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 32px;
  justify-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  @media(min-width: $tablet-width) {
    grid-template-columns: 162px 162px 1fr;
    column-gap: 43px;
    justify-items: right;
  }
  @media(min-width: $desktop-width) {
    grid-template-columns: repeat(2, 162px);
    column-gap: 42px;
    justify-items: left;
  }
}

.stats-list__item {
  position: relative;
}

.stats-list__number {
  padding-top: 14px;
  padding-bottom: 17px;
  border: solid 1px #cdcdcd;
  border-radius: 5px;
}

.stats-list__number--weight {
  padding-left: 42px;
  padding-right: 42px;
}

.stats-list__number--time {
  padding-left: 20px;
  padding-right: 21px;
}

.stats-list__description--time {
  width: 80px;
  left: 21px;
}

.stats-list__description--weight {
  width: 77px;
  left: 22px;  
}

.stats-list__price {
  grid-column: span 2;
  display: flex;
  width: 188px;
  justify-content: space-around;
  @media(min-width: $tablet-width) {
    grid-column: 3 / 4;
  }
  @media(min-width: $desktop-width) {
    grid-column: span 2;
    display: flex;
  }
}

.stats-list__description {
  margin: 0;
  position: absolute;
  text-align: center;
  background-color: #eaeaea;
}

.stats-list__price-description {
  @media(min-width: $desktop-width) {
  margin-right: 63px;
}
}

.stats-list__price-number {
  margin: 0;
}