.title-inner {
  color: #000000;
  font-family: $font-family-secondary;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px; 
  @media(min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

  }
}